//Elimina filas en blanco
function eliminarFilasEnBlanco() {
  var hoja = SpreadsheetApp.getActiveSpreadsheet().getActiveSheet();
  var rango = hoja.getDataRange();
  var filas = rango.getValues();
  
  for (var i = filas.length - 1; i >= 0; i--) {
    var fila = filas[i];
    var esFilaEnBlanco = true;
    
    for (var j = 0; j < fila.length; j++) {
      if (fila[j] !== "") {
        esFilaEnBlanco = false;
        break;
      }
    }
    
    if (esFilaEnBlanco) {
      hoja.deleteRow(i + 1);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Funcion para realizar backup de la hoja
function makeCopy() {

// generates the timestamp and stores in variable formattedDate as year-month-date hour-minute-second
var formattedDate = Utilities.formatDate(new Date(), "GMT", "yyyy-MM-dd'_'HH:mm:ss");

// gets the name of the original file and appends the word "copy" followed by the timestamp stored in formattedDate
//var name = SpreadsheetApp.getActiveSpreadsheet().getName() + "_COPY_SEC_ADM_" + formattedDate;
var name ="respaldo_base_desarrollo_" + formattedDate;

// gets the destination folder by their ID. REPLACE xxxxxxxxxxxxxxx with your folder's ID that you can get by opening the folder in Google Drive and checking the URL in the browser's address bar
var destination = DriveApp.getFolderById("xxxxxxxxxxxxxxxxx");

// gets the current Google Sheet file
var file = DriveApp.getFileById(SpreadsheetApp.getActiveSpreadsheet().getId())

// makes copy of "file" with "name" at the "destination"
file.makeCopy(name, destination);
}
